/* Universal */
html {
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

a {
  color: white;
  text-decoration: none;
}

.flex {
  display: flex;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.logo {
  align-items: center;
}

.logo img {
  height: 1.5rem;
  width: auto;
}

.logo h3{
  margin-left: 1rem;
}

/* Jumbotron */
.jumbotron {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 31rem;
  width: 100%;
  padding-top: 1rem;
}

  /* Header */
header {
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: cadetblue;
  color: white;
}

nav {
  align-items: center;
}

nav span {
  margin-left: 2rem;
}

#menu {
  display: none;
}

  /* Banner */
.banner {
  justify-content: flex-end;
}

.saying {
  position: relative;
  top: 14rem;
  left: 4rem;
  background-color: white;
  padding: 1.5rem 5rem;
}

.saying h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

/* Main Content */
.main {
  flex-direction: column;
}

  /* Claims */
.claims {
  flex-direction: row;
  justify-content: center;
}

.claim {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 8rem;
  width: 5rem;
  margin: 3rem;
}

.claim img {
  margin-bottom: 1rem;
}

#paper {
  width: 3.5rem;
  height: auto;
}

#ruler,
#truck {
  width: 5rem;
  height: auto;
}

  /* About */
.about {
  flex-direction: row;
  margin-bottom: 5rem;
}

.info {
  flex-direction: column;
  margin: 0 5%;
  width: 35%;
}

.info h3 {
  padding: 0.5rem 1.25rem;
  background-color: cadetblue;
  font-weight: bold;
  color: white;
  max-width: 10rem;
}

  /* Footer */
footer {
  background-color: azure;
  height: 8rem;
  text-align: left;
  padding-left: 2rem;
}

@media only screen and (max-width: 1024px) {
  .jumbotron {
    height: 22rem;
    padding-top: 0;
  }

  .saying {
    top: 8rem;
    left: 0;
    padding: 0.75rem 4rem;
    margin-right: 2rem;
  }

  .saying h1 {
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 560px) {
  .jumbotron {
    height: 17rem;
    padding-top: 0;
    background-position: 20%;
  }

  #title,
  nav span {
    display: none;
  }

  #menu {
    display: inline-block;
  }

  .saying {
    top: 9rem;
    left: 0;
    padding: 1rem 0;
    margin-right: 0;
    width: 100%;
  }

  .saying h1 {
    font-size: 1rem;
    text-align: center;
  }

  .claims {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 3rem;
  }

  .claim {
    height: auto;
    margin: 0.77rem;
    font-size: 0.77rem;
  }

  .claim img {
    margin: 0.77rem;
  }

  .claim h3 {
    font-size: 0.77rem;
  }

  .about {
    flex-direction: column;
  }

  .info {
    width: auto;
    margin-bottom: 4rem;
  }

  .info h3 {
    text-align: center;
    max-width: 100%;

  }

  .info p {
    font-size: 0.77rem;
    margin-top: 1rem;
  }

  footer {
    justify-content: center;
    padding-left: 0;
  }

  #copyright {
    display: none;
  }
}
