/* Universal */
html {
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

/* Jumbotron */
.jumbotron {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 31rem;
  width: 100%;
  padding-top: 1rem;
}

  /* Header */
header {
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: cadetblue;
  color: white;
}

.logo {
  align-items: center;
}

.logo img {
  height: 1.5rem;
  width: auto;
}

.logo h3{
  margin-left: 1rem;
}

nav {
  align-items: center;
}

nav span {
  margin-left: 2rem;
}

  /* Banner */
.banner {
  justify-content: flex-end;
}

.saying {
  position: relative;
  top: 14rem;
  left: 4rem;
  background-color: white;
  padding: 1.5rem 5rem;
}

.saying h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

/* Main Content */
.main {
  flex-direction: column;
}

  /* Claims */
.claims {
  flex-direction: row;
  justify-content: center;
  height: 14rem;
  overflow: hidden;
}

.claim {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 8rem;
  width: 5rem;
  margin: 3rem;
}

#paper {
  width: 3.5rem;
  height: auto;
}

#ruler,
#truck {
  width: 5rem;
  height: auto;
}

  /* About */
.about {
  flex-direction: row;
  margin-bottom: 5rem;
}

.info {
  flex-direction: column;
  margin: 0 5%;
  width: 35%;
}

.info h3 {
  padding: 0.5rem 1.25rem;
  background-color: cadetblue;
  color: white;
  max-width: 10rem;
}

  /* Footer */
footer {
  background-color: azure;
  justify-content: flex-start;
  height: 8rem;
}

footer .logo {
  padding: 4rem 0;
}

@media only screen and (max-width: 1024px) {
  
}
